---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: xtreme-secrets
  namespace: xtreme-downloader
spec:
  encryptedData:
    postgres-admin-password: AgCRtK1OYcK0FDPlL3R+8knOpiFwg1obYzWROqMplBOeGpatMkC5dm1xE0BhqR5Njk0aChOt5DWelK9t3Sg/leyeSU1zzo8Jhm/xq0k5tx8uPVd7geRxabeMNETENsi+XvkdtJEpJCwBfVJslPSMQsQcrvH8xD2kQlb6IIojN91U/KjmPSE8HIeecwRg+YMijmsIT2ndOcyMwtDOpp9tvgGfxRKveH7K5XQ70O7hgwcloL2kTwOYV7p1TsFsZzO2wTKG4D9sVTXnsfI2yAaomBqYPJU5YlhKUH7r2CjcAt3Da7ToahLn1t8ZI61YyCHhCmVYZEuoHl9XKjtAcKxFo8ei4WVyg+HUCTojFCkwWuhsorn7S2ZMdbPUHpg9M1LYMz5oF8BuYw1iaAWoLtGQI3Kd+Sp6XET1suqpAxLUFsRjX58AVINnEr6xexXkdY4/YhYt4XKsMQyoxv6kSy/RAYkLlVFAHvjQBMow7Qm/JoRI59sTiiMp2VsMFYofijigNt+sdPPp9QELm4rHVRynhVDto362teCewPZjsaFVCf4zfDh+RYCGUTp0m/hrkQ7rYUIMByelYJN4i/xc46v3mk4simMfBlBGKaDG0qup+Yp7NHDaoMJKiEPPa/C7kcK7CpivmyVccrlBL7rvDCqPtSQIK5oyakPqtOwWgadG78wqJYALRqHukevTmIOSr5uTmlDPtT1r/O8uVykNFE8=
    postgres-password: AgCLH+1cJKN3UXe1bYPpQBI1C7ARoaSOhTfqwX8f0Z3ZNTMjAucXBXCIxFVbSfRF+FmzClpt+E9uKGCE6ef/iFBMe+FFucer+cLeUQVy+lJRT+of7xwbbeI95xrRW8nDR56RMhXNP1s7M6DW12J5lV/epWyLMNvWpXeky+BdrC3sOxfdeW2AJ1dKFQp/9hBOLHhuMnkdM5YMX1S0ZhlpJ5fyjmgL+5g55IiNBzSxw14lpbZNkIZqoQdEyyZwvGYeyC/lo8kTI3KwbcNq7ihGWdqE5dBov0XIwpLvtxzaN8DEB4RY+qIP3hZ0yEdZtr3zv7z8DWKk6RGsLJ93N/2mPHw+olUiuL+Ep88ofKxlkcwNp9si9T5GSvVzDifi9LZyVfiV/3n9oV8/fTYSxIh/P9/3UdLaaSrNjnA6vqm6nLXT1Y/FZpZ489XWQ2eOBbVsvrNfeLQSPEJQnV+OowQJnl4wNQzPrDy2mWZTVh5pN/WnnGTz20bA0+ZCXQX8bS8jjd/fO5rX+FNAnK8713dY6xT/YnbGZs6oQZpLuC1zWEbWiaao1maRHjYsjj6d3Etnn0l/MIg75LEquIY62NyMINyOtuEw2aAx1soF/mu2dwpCLVml70HFRigX7jrozr0FjoyiO7YR7t7qYN6EeUTEt8NXj4sDOw6MsHYm4aWu5+FwYUbuNeuu3jNravJlo7qNiIujvAMzhGo6o1Bi0b8=
  template:
    metadata:
      name: xtreme-secrets
      namespace: xtreme-downloader
