# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
.cache/

# Docker
*.log

# IDE
.idea/
.vscode/
*.swp

# Alembic
app/alembic/versions/__pycache__/
